<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="vendor/fontawesome-free/css/all.min.css?v=1" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Kanit:400,400i,700,700i&display=swap&subset=thai" rel="stylesheet">
    <link href="css/app.css?v=1" rel="stylesheet">
    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
    <script src="js/jquery.js?v=1"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </head>
  <body>

    <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card">

                        <div class="card-body">
                            <div class="card-title mb-4">
                                <div class="d-flex justify-content-start">
                                    <div class="image-container">
                                        <img src="http://placehold.it/150x150" id="imgProfile" style="width: 100px; height: 100px" class="img-thumbnail" />
                                        <!-- <div class="middle">
                                            <input type="button" class="btn btn-secondary" id="btnChangePicture" value="Change" />
                                            <input type="file" style="display: none;" id="profilePicture" name="file" />
                                        </div> -->
                                    </div>
                                    <div class="userData ml-3">
                                        <h2 class="d-block" style="font-size: 1.2rem; font-weight: bold"><a href="javascript:void(0);" id='name'></a></h2>
                                        <h6 class="d-block"><a href="javascript:void(0)">0</a> รายการสั่งซื้อ</h6>
                                    </div>
                                    <div class="ml-auto">
                                        <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">ข้อมูลลูกค้า</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="connectedServices-tab" data-toggle="tab" href="#connectedServices" role="tab" aria-controls="connectedServices" aria-selected="false">รายการสั่งซื้อที่ผ่านมา</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content ml-1" id="myTabContent">
                                        <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">


                                            <div class="row">
                                                <div class="col-sm-3 col-md-2 col-5">
                                                    <label style="font-weight:bold;">ชื่อเต็ม</label>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    Jamshaid Kamran
                                                </div>
                                            </div>
                                            <hr />

                                            <div class="row">
                                                <div class="col-sm-3 col-md-2 col-5">
                                                    <label style="font-weight:bold;">วันเกิด</label>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    March 22, 1994.
                                                </div>
                                            </div>
                                            <hr />

                                            <div class="row">
                                                <div class="col-sm-3 col-md-2 col-5">
                                                    <label style="font-weight:bold;">เบอร์โทรศัพท์</label>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    191
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="row">
                                                <div class="col-sm-3 col-md-2 col-5">
                                                    <label style="font-weight:bold;">ที่อยู่สำหรับจัดส่ง</label>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    bkk
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="row">
                                                <div class="col-sm-3 col-md-2 col-5">
                                                    <label style="font-weight:bold;">Something</label>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    Something
                                                </div>
                                            </div>
                                            <hr />

                                        </div>
                                        <div class="tab-pane fade text-center" id="connectedServices" role="tabpanel" aria-labelledby="ConnectedServices-tab">
                                            -- ยังไม่มีรายการสั่งซื้อ --
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
<!-- <div id='name'></div> -->
<!-- <div id='userId'></div>
<div id='pictureUrl'></div>
<div id='statusMessage'></div> -->
<script>

  liff.init({
      liffId: "1653363583-mpn7VrVp" // use own liffId
    })
    .then(() => {
      // Start to use liff's api

      liff.getProfile().then(profile => {
        var name = profile.displayName;
        var userId = profile.userId;
        var pictureUrl = profile.pictureUrl;
        var statusMessage = profile.statusMessage;

        document.getElementById('name').textContent = name;
        // document.getElementById('userId').textContent = userId;


        $('#imgProfile').attr('src',pictureUrl);
        // document.getElementById('statusMessage').textContent = statusMessage;
      })
      .catch((err) => {
        console.log('error', err);
      });

    })



            $imgSrc = $('#imgProfile').attr('src');
            function readURL(input) {

                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#imgProfile').attr('src', e.target.result);
                    };

                    reader.readAsDataURL(input.files[0]);
                }
            }
            $('#btnChangePicture').on('click', function () {
                // document.getElementById('profilePicture').click();
                if (!$('#btnChangePicture').hasClass('changing')) {
                    $('#profilePicture').click();
                }
                else {
                    // change
                }
            });
            $('#profilePicture').on('change', function () {
                readURL(this);
                $('#btnChangePicture').addClass('changing');
                $('#btnChangePicture').attr('value', 'Confirm');
                $('#btnDiscard').removeClass('d-none');
                // $('#imgProfile').attr('src', '');
            });
            $('#btnDiscard').on('click', function () {
                // if ($('#btnDiscard').hasClass('d-none')) {
                $('#btnChangePicture').removeClass('changing');
                $('#btnChangePicture').attr('value', 'Change');
                $('#btnDiscard').addClass('d-none');
                $('#imgProfile').attr('src', $imgSrc);
                $('#profilePicture').val('');
                // }
            });


</script>
  </body>
</html>
