<script src="https://cdn.tiny.cloud/1/kgoa8i6nd8s0wjzwe134r8dl30eesiv60ve12otifac7s9ew/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<div class="row">
  <div class="col-md-12">
    <div class="card shadow">
      <form id='iform'>
        <div class="card-body">
          <div class="form-group">
            <label for="input-title">ชื่อสินค้า :</label>
            <input type="text"  class="form-control" name='product_name' value='<%- result.product_name %>'>
          </div>
          <div class="form-group">
            <label for="input-title">รหัสสินค้า :</label>
            <input type="text"  class="form-control" name='code_id' value='<%- result.code_id %>'>
          </div>
          <div class="form-group">
            <label for="input-title">ราคา :</label>
            <input type="text" class="form-control" id='price' name='price' value='<%- result.price %>'>
          </div>
          <div class="form-group">
            <label for="sel1">หมวดหมู่</label>
            <select class="form-control" id='category' name='category_product_id'>

            </select>
          </div>
          <div class="form-group">
            <label for="input-title">ภาพสินค้า :</label>
            <div class="row">
              <div class="col-md-6">
                <img src='uploads/<%- result.product_picture  == '' ? 'blank-img.jpg' : result.product_picture  %>' class="img-show" width='100%'/>
                <p></p>
              </div>
              <div class="col-md-6">
                <div class="">
                  <span class="btn btn-danger delete-pic" <%- result.product_picture  == '' ? 'style="display:none;"' : ''  %> ><i class="fas fa-backspace"></i> เปลี่ยนรูป</span>
                  <input type="file" id='file' <%- result.product_picture  != '' ? 'style="display:none;"' : ''  %>>
                  <div class="detail-file">
                  </div>
                </div>
              </div>
            </div>
            <input type="hidden" name="picture" value='<%- result.product_picture %>'>
          </div>

          <div class="form-group">
            <label for="sel1">รายละเอียดสินค้า</label>
            <textarea class="form-control" id='productDetail' name='product_detail' style='min-height:500px;'><%- result.product_detail %></textarea>
          </div>

          <div class="form-group text-right">
            <input type='hidden' name='id' value='<%- result.id %>'>
            <button type="submit" class="btn btn-info" id='submit'><i class="far fa-save"></i> บันทึก</button>
            <a href='/admin_product'  class="btn btn-secondary back"><i class="fas fa-backspace"></i> ยกเลิก</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>



<script>

  tinymce.init({
    selector: 'textarea',
    toolbar_drawer: 'floating',
    plugins: 'image code  table imagetools',
    toolbar: 'undo redo | image code',
    /* without images_upload_url set, Upload tab won't show up*/
    // images_upload_url: '/uploadfile',
     images_upload_base_path: '/uploads',
    /* we override default upload handler to simulate successful upload*/
    images_upload_handler: function (blobInfo, success, failure) {
      var xhr, formData;
        	xhr = new XMLHttpRequest();
        	xhr.withCredentials = false;
        	xhr.open('POST', '/uploadfiletiny');
        	xhr.onload = function() {
        	  var json;

        	  if (xhr.status != 200) {
        		failure('HTTP Error: ' + xhr.status);
        		return;
        	  }
        	  json = JSON.parse(xhr.responseText);

        	  if (!json || typeof json.location != 'string') {
        		failure('Invalid JSON: ' + xhr.responseText);
        		return;
        	  }
        	  success(json.location);
        	};
        	formData = new FormData();
          if( typeof(blobInfo.blob().name) !== undefined )
          fileName = blobInfo.blob().name;
          else
          fileName = blobInfo.filename();
          formData.append('file', blobInfo.blob(), fileName);

        	xhr.send(formData);
    }
  });

  $('form').on('submit', function (e) {
    e.preventDefault();
    $('.iloading').fadeIn(100)

    $.ajax({
      type: 'put',
      url: '/admin_product',
      data: $('form').serialize(),
      success: function (data) {
        // alert('form was submitted');

        setTimeout(function(){

          $('.iloading').fadeOut('slow', function() {
            Swal.fire({
              position: 'top-end',
              icon: 'success',
              title: 'Your work has been saved',
              showConfirmButton: false,
              timer: 1500
            })
          });
        }, 1000);


      }
    });

  });


  $(document).on('click','.delete-pic',function(){

    var img = $('.img-show');
    img.attr('src','uploads/blank-img.jpg');

    $('input[name="picture"]').val('');
    $(this).hide();
    $('#file').fadeIn();

  })

  var handleImageUpload = event => {
    var files = event.target.files;
    var formData = new FormData();
    formData.append('ifile', files[0]);

    fetch('/uploadfile', {
      method: 'POST',
      body: formData
    })
    .then(response => response.json())
    .then(data => {
      var img = $('.img-show');
      img.attr('src','uploads/'+data.filename);
      $('input[name="picture"]').val(data.filename);
      $('.delete-pic').fadeIn();
      $('#file').hide()
      console.log(data.path)
    })
    .catch(error => {
      console.error(error)
    })
  }

  document.querySelector('#file').addEventListener('change', event => {
    handleImageUpload(event)
  })


  loadCat()

  function loadCat(){
    $.getJSON( "/category", function( data ) {
      var items = [];
      var myvar = "";



      $.each( data, function( key, val ) {
        var icat = <%= result.category_product_id %>;
        if(icat==val.category_product_id){
          myvar += '<option value="'+val.category_product_id+'" selected="selected">'+val.category_name+'</option>';
        }else{
          myvar += '<option value="'+val.category_product_id+'">'+val.category_name+'</option>';
        }

      });

      $('#category').html(myvar)

    });

  }

  $('#price').keypress(function(event) {
    if(event.which == 8 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46)
    return true;

    else if((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57))
    event.preventDefault();
  });
</script>
