<div class="row">
  <div class="col-md-12">

    <div class="card shadow mb-4">
      <div class="card-header py-3 d-sm-flex align-items-center justify-content-between mb-4">
        <h6 class="m-0 font-weight-bold text-primary">รายการ</h6>
        <a href="/broadcast-text?mode=add" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus"></i> เพิ่มการตอบกลับ</a>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>id</th>
                <th>title</th>
                <th>words</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>

            </tbody>
          </table>
        </div>
      </div>
    </div>





  </div>
</div>


<script>

var itable =  $('#dataTable').DataTable( {

  "ajax": "/api/broadcast-text",
  "columns": [
    { "data": "id" },
    { "data": "title" },
    { "data": "words"},
    { "data": null,"defaultContent": "<button  class='btn btn-success ibutton'><i class='fas fa-edit'></i> Edit</button> <button class='btn btn-danger idelete'>Delete</button" },
  ],
  "bLengthChange": false,
  "initComplete": function () {
    // table.data().length;
            // console.log(itable.data().length)
  }

} );

$('#dataTable tbody').on( 'click', '.ibutton', function () {
  var data = itable.row( $(this).parents('tr') ).data();
  // alert( data.title );
  window.location.href = '/broadcast-text?mode=edit&id='+data.id;
} );


$('#dataTable tbody').on( 'click', '.idelete', function () {
  var data = itable.row( $(this).parents('tr') ).data();
  Swal.fire({
    title: 'Are you sure?',
    text: "You won't be able to revert this!",
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Yes, delete it!'
  }).then((result) => {
    if (result.value) {

      $.ajax({
        type: 'delete',
        url: '/broadcast-text',
        data: {id:data.id},
        success: function (data) {
          Swal.fire(
            'Deleted!',
            'Your file has been deleted.',
            'success'
          ).then((result)=>{
            itable.ajax.reload();
          })
        }
      });



    }
  })
} );




</script>
