<div class="row">

  <div class="col-md-12">
    <div class="card shadow">
      <form id='iform'>
        <div class="card-body">

          <div class="form-group">
            <label for="input-title">หัวเรื่อง :</label>
            <input type="text" id="input-title" class="form-control" name='title' value=''>
          </div>

          <div class="form-group">
            <label for="input-tags">คำถาม :</label>
            <input type="text" id="input-tags" class="demo-default" name='words' value=''>
          </div>
          <div class="form-group">
          <label>Type</label>
          <select class="form-control" name="type">
            <option value='text' >TEXT</option>
            <option value='image' >IMAGE</option>
          </select>
        </div>
          <div class="form-group">
            <label for="input-response_text">ข้อความตอบกลับ</label>
            <textarea class="form-control" id="input-response_text" rows="4" name="response_text"></textarea>
          </div>
          <div class="form-group text-right">
            <input type='hidden' name='mode' value='text'>
            <button type="submit" class="btn btn-info" id='submit'><i class="far fa-save"></i> บันทึก</button>
            <a href='/broadcast-text'  class="btn btn-secondary back"><i class="fas fa-backspace"></i> ยกเลิก</a>
          </div>
        </div>
      </form>


    </div>
  </div>
</div>



<script>
  $('#input-tags').selectize({
     plugins: ['remove_button'],
    persist: false,
    createOnBlur: true,
    create: true
  });

  $('form').on('submit', function (e) {
      $('.iloading').fadeIn(100)
    e.preventDefault();

    $.ajax({
      type: 'post',
      url: '/broadcast-text',
      data: $('form').serialize(),
      success: function (data) {
        setTimeout(function(){

           $('.iloading').fadeOut('slow', function() {
            Swal.fire({
              position: 'top-end',
              icon: 'success',
              title: 'Your  add already.',
              showConfirmButton: false,
              timer: 1500
            }).then((result)=>{

              window.location.href = "/broadcast-text";
            })
          })


      }, 1000);


      }
    });

  });

</script>
