<div class="ui basic segment">
      <div class="ui grid container">
        <div class="one column"><h3 class="ui header">Application Content</h3></div>
      </div>
      <form id="formUpload">
        <div class="ui one column  stackable grid container">
          <div class="column">
            <div class="ui action input">
              <input type="text" placeholder="File 1" readonly>
              <input type="file" name="foo">
              <div class="ui icon button">
                <i class="attach icon"></i>
              </div>
            </div>
            <button class="ui button" type="submit">
              Upload
            </button>
          </div>
        </div>
      </form>

  <!-- <div class="ui sixteen column  stackable grid container">
    <% data.forEach(function(u) { %>
        <%= u.name %>
      <% }); %>
  </div> -->



  </div>
