<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dev</title>
    <link href="css/sb-admin-2.css?v=1" rel="stylesheet">
    <script src="js/jquery.js?v=1"></script>
</head>
<body>


    <form action="/uploadfile" method="post" enctype="multipart/form-data">
		<input type="file" name="ifile">
		<button type="submit">send</button>
	</form>

<script>
$.getJSON('http://localhost:3009/api/gettext', function (data) {
  console.log(data);
});
</script>
</body>
</html>
