<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="vendor/fontawesome-free/css/all.min.css?v=1" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Kanit:400,400i,700,700i&display=swap&subset=thai" rel="stylesheet">
    <link href="css/app.css?v=1" rel="stylesheet">
    <script src="js/jquery.js?v=1"></script>
    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
  </head>
  <body>

      <%- include(content) %>

<button id='getAccessToken'>get token</button><button id='showProfile'>show profile</button>
<div id='accessTokenField'></div>
<div id='ishowProfile'></div>

<script type="text/javascript">
//
// initializeLiff("1653363583-Qoy3XOXR")
//
// function initializeLiff(myLiffId) {
//   liff
//       .init({
//           liffId: myLiffId
//       })
//       .then(() => {
//           // start to use LIFF's api
//           // initializeApp();
//       })
//       .catch((err) => {
//           document.getElementById("liffAppContent").classList.add('hidden');
//           document.getElementById("liffInitErrorMessage").classList.remove('hidden');
//       });
// }
//

  liff.init({liffId:"1653363583-Qoy3XOXR"})
document.getElementById('getAccessToken').addEventListener('click', function() {

        var accessToken = liff.getAccessToken();
        document.getElementById('accessTokenField').textContent = accessToken;
        // toggleAccessToken();

});

document.getElementById('showProfile').addEventListener('click', function() {

        var idToken = liff.getProfile();
        alert(idToken);
        // toggleAccessToken();

});
$(document).ready(function() {
  liff.getProfile()
  .then(profile => {
    var name = profile.displayName
    alert(name)
  })
  .catch((err) => {
    console.log('error', err);
  });
});

</script>
  </body>
</html>
