<div class="ui top attached demo menu">
  <a class="item btn-menu">
    <i class="sidebar icon"></i>
    Menu
  </a>

  <span class="brand"> LINE Official account</span>
  <div class="right menu">

    <div class="ui dropdown item">
    <i class="user circle icon"></i>  iwebdevthai <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item"><i class="wrench icon"></i> Setting</a>
        <a class="item"><i class="users icon"></i> User management</a>
      </div>
    </div>
    <a class="ui item">
      <i class="sign-out icon small"></i> Logout
    </a>
  </div>
</div>
