<div class="row">


  <div class="col-md-4">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary text-center">Friends added</h6>
      </div>
      <div class="card-body">
        <h2 id="friend" class="text-center">
          <div class="spinner-border text-success" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </h2>

      </div>
    </div>
  </div>


  <div class="col-md-4">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary text-center">Target reach</h6>
      </div>
      <div class="card-body">
        <h2 id="traget" class="text-center">
          <div class="spinner-border text-success" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </h2>

      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary text-center">Blocked count</h6>
      </div>
      <div class="card-body">
        <h2 id="blocks" class="text-center">
          <div class="spinner-border text-success" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </h2>

      </div>
    </div>
  </div>

</div>




<script>
  window.onload = function() {
    $.getJSON("/getfollowers", function(data) {
      var obj = JSON.parse(data)

      $('#friend').html(obj.followers)
      $('#traget').html(obj.targetedReaches)
      $('#blocks').html(obj.blocks)

    })

  }


  function setCookie(cname,cvalue,exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    var expires = "expires=" + d.toGMTString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  }

</script>
