<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>idev</title>
  <link href="vendor/fontawesome-free/css/all.min.css?v=1" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Kanit:400,400i,700,700i&display=swap&subset=thai" rel="stylesheet">
  <link href="css/app.css?v=1" rel="stylesheet">
  <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
  <script src="js/jquery.js?v=1"></script>
  <!-- cdnjs -->
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.plugins.min.js"></script>

  <script type="text/jscript">

  </script>


  <style type="text/css">

    img.lazyload{
      width: 100%;
      height: 200px;
      display: block;
      background-image: url('uploads/loading.gif');
      background-size:70% auto;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }


  </style>


</head>
<body>
  <main role="main">
    <section class="jumbotron text-center" style='margin-bottom:0;padding:10px;'>
      <div class="container">
        <h3 class="jumbotron-heading">หมวดหมู่สินค้าทั้งหมด</h3>
        <p class="lead text-muted"><span id='numCat'></span> หมวดหมู่รายการ</p>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row show-content">



        </div>
      </div>
    </div>

  </main>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js?v=1" ></script>
  <script>
    document.addEventListener("DOMContentLoaded", function(event) {
     // loadCat()
     loadProductlist(<%= catId %>)
  });


  function loadCat(){
    $.getJSON( "/category", function( data ) {
      var items = [];
      var myvar = "";

      console.log(data.length)
      $('#numCat').text(data.length)
      $.each( data, function( key, val ) {
        // items.push( "<li id='" + key + "'>" + val.category_name + "</li>" );

        myvar += ''+
        '        <div class="col-6">'+
          '          <div class="card mb-4 box-shadow">'+
            '            <img class="card-img-top lazyload" data-src=\'uploads/'+ val.category_picture+'\' alt=\''+ val.category_name+'\' >'+
            '            <div class="card-body">'+
              '              <p class="card-text">'+ val.category_name+'</p>'+
              '              <a class="btn ipro btn-sm btn-outline-secondary" href="?page=product_list">ดูสินค้าทั้งหมด</a>'+
              '              <div class="d-flex justify-content-between align-items-center py-3">'+
                '                <small class="text-muted">7 รายการ</small>'+
                '              </div>'+
                '            </div>'+
                '          </div>'+
                '        </div>';



              });

              $('.show-content').html(myvar);
              $('.lazyload').Lazy({
                placeholder: "data:image/gif;base64,R0lGODlhEALAPQAPzl5uLr9Nrl8e7...",
                delay: 700,
                effect : "fadeIn",
                beforeLoad: function(element) {
                  var imageSrc = element.data('src');
                  console.log('image "' + imageSrc + '" is about to be loaded');
                },

                afterLoad: function(element) {
                  var imageSrc = element.attr('src');
                  console.log('image "' + imageSrc + '" was loaded successfully');
                  $('.lazyload').css('height','auto')
                }

              });
            });




  }



  function loadProductlist(catId){
    var sendData = {category_product_id:catId}
    $.getJSON( "/productByid",sendData,function( data ) {
      var items = [];
      var myvar = "";
      $('#numCat').text(data.length)
      $.each( data, function( key, val ) {
        myvar += ''+
        '<div class="col-6">'+
          '<div class="card mb-4 box-shadow">'+
            '<img class="card-img-top lazyload" data-src=\'uploads/'+ val.product_picture+'\' alt=\''+ val.product_name+'\' >'+
            '<div class="card-body">'+
              '<p class="card-text">'+ val.product_name+'</p>'+
              '<a href="" class="btn ipro btn-sm btn-outline-secondary">ดูรายละเอียด</a>'+
              // '<div class="d-flex justify-content-between align-items-center py-3">'+
              //   '<small class="text-muted">7 รายการ</small>'+
              //   '              </div>'+
                '            </div>'+
                '          </div>'+
                '        </div>';
              });

              $('.show-content').html(myvar);
              $('.lazyload').Lazy({
                placeholder: "data:image/gif;base64,R0lGODlhEALAPQAPzl5uLr9Nrl8e7...",
                delay: 700,
                effect : "fadeIn",
                beforeLoad: function(element) {
                  var imageSrc = element.data('src');
                  console.log('image "' + imageSrc + '" is about to be loaded');
                },

                afterLoad: function(element) {
                  var imageSrc = element.attr('src');
                  console.log('image "' + imageSrc + '" was loaded successfully');
                  $('.lazyload').css('height','auto')
                }

              });

            });

  }

var str = 'คุณต้องการซื้อ product 1';
var re = /.*คุณต้องการซื้อ.*/;
console.log( re.test(str) );

          </script>

        </body>
        </html>
