<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>เข้าสู่ระบบ :: Login</title>
  <link href="css/sb-admin-2.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Kanit&display=swap" rel="stylesheet">
  <link href="vendor/fontawesome-free/css/all.min.css?v=1" rel="stylesheet" type="text/css">
  <style>

  html,body{
    background-color:#5eba7d;
  }
  .outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .middle {
    display: table-cell;
    vertical-align: middle;
  }

  .inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    background-color:#fff;
    min-height:300px;
    padding:15px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 6px 9px 1px rgba(204,204,204,1);
    -moz-box-shadow: 0px 6px 9px 1px rgba(204,204,204,1);
    box-shadow: 0px 6px 9px 1px rgba(204,204,204,1);
  }

  h1{
    font-size:32px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
  }

  button{
    font-family: 'Kanit', sans-serif;
  }
  </style>
</head>
<body>


  <div class="outer">
    <div class="middle">
      <div class="inner">
        <h1 class="text-success" >LINE OA</h1>
        <hr/>
        <form id="ifrom">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Password">
          </div>
          <div class="form-group text-center">
            <button type="submit" class="btn btn-warning"><i class="fas fa-sign-in-alt"></i> เข้าสู่ระบบ</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="js/jquery.js?v=1"></script>

 <script type="text/javascript">

 $('form').on('submit', function (e) {

   e.preventDefault();

   $.ajax({
     type: 'post',
     url: '/checklogin',
     data: $('form').serialize(),
     success: function (data) {
       // alert('form was submitted');

       if(data=="ok"){
         window.location.replace("/dashboard");
       }
     }
   });

 });

 </script>

</body>
</html>
