<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link href="vendor/fontawesome-free/css/all.min.css?v=1" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Kanit:400,400i,700,700i&display=swap&subset=thai" rel="stylesheet">
  <link href="css/app.css?v=1" rel="stylesheet">
  <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
  <script src="js/jquery.js?v=1"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <!-- cdnjs -->
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.plugins.min.js"></script>
</head>
<body>
  <header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">About</h4>
            <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">Contact</h4>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white">Follow on Twitter</a></li>
              <li><a href="#" class="text-white">Like on Facebook</a></li>
              <li><a href="#" class="text-white">Email me</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark box-shadow">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <img width='40' src='' id='imgProfile'> &nbsp;
          <strong id='name'></strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>

  <main role="main">
    <section class="jumbotron text-center" style="margin-bottom:0;">
      <div class="container">
        <h3 class="jumbotron-heading">หมวดหมู่สินค้าทั้งหมด</h3>
        <p class="lead text-muted"><span id='numCat'></span> หมวดหมู่รายการ</p>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row show-content">



        </div>
      </div>
    </div>

  </main>

  <footer class="text-muted">
    <div class="container">

    </div>
  </footer>



  <script src="js/holder.js?v=1"></script>

  <script>

    liff.init({
      liffId: "1653363583-by0XJyJ1" // use own liffId
    })
    .then(() => {
      liff.getProfile().then(profile => {
        var name = profile.displayName;
        var userId = profile.userId;
        var pictureUrl = profile.pictureUrl;
        var statusMessage = profile.statusMessage;
        $('#imgProfile').attr('src',pictureUrl);
        document.getElementById('name').textContent = name;
        loadCat()

      })
      .catch((err) => {
        console.log('error', err);
      });

      iPro()
    })


    function iPro(){

      $('.ipro').on('click',function(){
        liff.sendMessages([
        {
          type:'text',
          text:'Hello, World!'
        }
        ])
        .then(() => {
          console.log('message sent');
          liff.closeWindow()
        })
        .catch((err) => {
          console.log('error', err);
        });
      })
    }


function loadCat(){
  $.getJSON( "/category", function( data ) {
    var items = [];
    var myvar = "";
    $('#numCat').text(data.length)
    $.each( data, function( key, val ) {
      myvar += ''+
      '<div class="col-6">'+
        '<div class="card mb-4 box-shadow">'+
          '<img class="card-img-top lazyload" data-src=\'uploads/'+ val.category_picture+'\' alt=\''+ val.category_name+'\' >'+
          '<div class="card-body">'+
            '<p class="card-text">'+ val.category_name+'</p>'+
            '<a href="/product?page=product_list&category_product_id='+val.category_product_id+'&category_name='+val.category_name+'" class="btn ipro btn-sm btn-outline-secondary">ดูสินค้าทั้งหมด</a>'+
            // '<div class="d-flex justify-content-between align-items-center py-3">'+
            //   '<small class="text-muted">7 รายการ</small>'+
            //   '              </div>'+
              '            </div>'+
              '          </div>'+
              '        </div>';
            });

            $('.show-content').html(myvar);
            $('.lazyload').Lazy({
              placeholder: "data:image/gif;base64,R0lGODlhEALAPQAPzl5uLr9Nrl8e7...",
              delay: 700,
              effect : "fadeIn",
              beforeLoad: function(element) {
                var imageSrc = element.data('src');
                console.log('image "' + imageSrc + '" is about to be loaded');
              },

              afterLoad: function(element) {
                var imageSrc = element.attr('src');
                console.log('image "' + imageSrc + '" was loaded successfully');
                $('.lazyload').css('height','auto')
              }

            });

          });

}

  </script>

</body>
</html>
