<div class="row">

  <div class="col-md-12">
    <div class="card shadow">
      <form id='iform'>
        <div class="card-body">

          <div class="form-group">
            <label for="input-title">หัวเรื่อง :</label>
            <input type="text" id="input-title" class="form-control" name='title' value=''>
          </div>
          <div class="form-group">
            <label for="input-title">ภาพโปรโมชั่น :</label>
            <div class="row">
              <div class="col-md-6">
                <img src='uploads/blank-img.jpg' class="img-show" width='100%'/>
                <p></p>
              </div>
              <div class="col-md-6">
                <div class="">
                 <span class="btn btn-danger delete-pic" style="display:none;"><i class="fas fa-backspace"></i> เปลี่ยนรูป</span>
                 <input type="file" id='file'>
                 <div class="detail-file">

                 </div>
                 <!-- <button type="button" class="btn btn-success">อัพโหลดรูป</button> -->
                </div>
              </div>

            </div>

            <input type="hidden" name="picture" value=''>
          </div>

          <div class="form-group text-right">
            <button type="submit" class="btn btn-info" id='submit'><i class="far fa-save"></i> บันทึก</button>
            <a href='/promotion'  class="btn btn-secondary back"><i class="fas fa-backspace"></i> ยกเลิก</a>
          </div>
        </div>
      </form>


    </div>
  </div>
</div>



<script>
  $('#input-tags').selectize({
    plugins: ['remove_button'],
    persist: false,
    createOnBlur: true,
    create: true
  });

  $('form').on('submit', function (e) {
    e.preventDefault();
    $('.iloading').fadeIn(100)

    $.ajax({
      type: 'post',
      url: '/promotion',
      data: $('form').serialize(),
      success: function (data) {
        // alert('form was submitted');

        setTimeout(function(){

          $('.iloading').fadeOut('slow', function() {
           Swal.fire({
             position: 'top-end',
             icon: 'success',
             title: 'Your  add already.',
             showConfirmButton: false,
             timer: 1500
           }).then((result)=>{

             window.location.href = "/promotion";
           })
         })
        }, 1000);


      }
    });

  });


$(document).on('click','.delete-pic',function(){



        $.ajax({
          type: 'post',
          url: '/deletePic',
          data: {picture:$('input[name="picture"]').val()},
          success: function (data) {

            var img = $('.img-show');
            img.attr('src','uploads/blank-img.jpg');

            $('input[name="picture"]').val('');
            $('.delete-pic').hide();
            $('#file').fadeIn();

          }
        });



})

var handleImageUpload = event => {
  var files = event.target.files;
  var formData = new FormData();
  formData.append('ifile', files[0]);

  fetch('/uploadfile', {
    method: 'POST',
    body: formData
  })
  .then(response => response.json())
  .then(data => {
    var img = $('.img-show');
    img.attr('src','uploads/'+data.filename);
    $('input[name="picture"]').val(data.filename);
    $('.delete-pic').fadeIn();
    $('#file').hide()
    console.log(data.path)
  })
  .catch(error => {
    console.error(error)
  })
}

document.querySelector('#file').addEventListener('change', event => {
  handleImageUpload(event)
})


</script>
