<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="dist/semantic.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="dist/semantic.min.js"></script>
</head>
<body>
<%- include('header'); %>

  <div class="ui bottom attached segment pushable">
    <%- include('menu'); %>
    <div class="pusher">
        <%- include(content); %>
      </div>
    </div>

    <script>
    $('.btn-menu').on('click',function(){
      $('.ui.sidebar.vertical').sidebar('toggle')
    })

    $('.ui.dropdown').dropdown({
      on: 'click'
    })


    $("#formUpload").submit(function(e) {
      e.preventDefault();

      $.ajax({
        url: '/uploadfile',
        type: 'post',
        dataType: 'json)',
        data: {param1: 'value1'}
      })
    });
  </script>
</body>
</html>
